.h{
background: url(../../assets/imgs/weather.jpg);
background-size: cover;
width: 100%;
background-repeat: no-repeat;

}
    
.col{
    background: rgb(80, 112, 255);
    margin-bottom: 5%
}
.back{
    background:darkblue;
    border: 1px;
}

